<div class="row g-0 d-flex align-items-center m-5">
  <div class="col-2"></div>
  <div class="col-8 text-center" *ngIf="(user$ | async) as user">
    <h3>User :</h3>
    <div>{{user.username}}</div>
    <div>{{user.id}}</div>
  </div>
  <div class="col-2"></div>

  <h4>User Groups: </h4>
  <table class="table table-bordered table-striped" *ngIf="(groups$ | async) as groups">
    <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let group of groups">
      <td>{{group.name}}</td>
      <td>{{group.id}}</td>
    </tr>
    </tbody>
  </table>
</div>
